.table {
    table-layout: fixed;
    overflow: auto;
}

.table th {
    text-align: center;
}

.table td {
    text-align: center;
    background: navajowhite ;

    overflow: hidden;
    <!-- ellipsis ? = will be displayed 3 dots --> text-overflow: ellipsis;
    white-space: nowrap;
}
