.container-wrapper {
    height: 80%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 300px;
}

.home-image {
    display: block;
    <!-- important means priority -->
    width: 100% !important;
    height: auto !important;
}

.table {
    table-layout: fixed;
    overflow: auto;
}

.table th {
    text-align: center;
}

.table td {
    text-align: center;
    background: navajowhite ;

    overflow: hidden;
    <!-- ellipsis ? = will be displayed 3 dots --> text-overflow: ellipsis;
    white-space: nowrap;
}
